.WishLists {
  .MuiList-root, .MuiListSubheader-root {
    border-radius: 4px;
  }

  .MuiListSubheader-root {
    color: black;

    #wish-lists-header-grid {
      position: relative;

      .MuiTypography-root {
        margin: 0;
        position: absolute;
        top: 25%;
      }
    }

    .MuiIconButton-root {
      color: #1565c0;
    }
  }
}