.PostFeed {
  h3 {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  #add-post-button {
    margin: .5em;
    .MuiIconButton-root {
      color: #3f51b5;
    }
  }

  .MuiPaper-root {
    padding: 5px;
  }

  #posts {
    margin-top: 20px;
  }

  .post {
    margin: 5px;
  }
}


