.App {
  flex-grow: 1;

  header {
    .MuiLink-root {
      color: white;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .centered-button-container {
    position: relative;
    .MuiButtonBase-root {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }
}
