.ShareWishList {

}

.ShareWishList-dialog {
  #add-wish-list-invite-paper {
    padding: 1em;
  }

  #wish-list-invites-grid-item {
    margin-top: 2em;

    #wish-list-invites-paper {
      padding: 1em;

      .invite-selected {
        background-color: rgba(0, 0, 0, 0.04);
      }

      #delete-wish-list-invite-icon {
        color: red;
      }

      #edit-wish-list-invite-icon {
        color:  #1565c0;
      }
    }
  }
}