.ShareWishList {

}

.ShareWishList-dialog {
  #add-wish-list-invite-paper {
    padding: 1em;
  }

  #wish-list-invites-grid-item {
    margin-top: 2em;

    #wish-list-invites-paper {
      padding: 1em;

      #delete-wish-list-invite-button-span {
        width: 100%;

        #delete-wish-list-invite-button {
          float: right;

          #delete-wish-list-invite-button-icon {
            color: red;
          }
        }
      }
    }
  }
}