.PostCreator {
}

.PostCreator-modal-content {
  flex-grow: 1;
  overflow: scroll;

  .MuiPaper-root {
    width: 95%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .MuiFormControl-root {
    width: 100%;
  }

  .MuiButton-root {
    width: 100%;
    font-weight: bold;
  }

  .delete-button-container {
    .MuiButton-root {
      background-color: darkred;
      color: white;
    }
  }

  .post-creator-item {
    margin: 20px;
  }

  .reactGiphySearchbox-componentWrapper {
    margin-left: auto;
    margin-right: auto;
  }

}
