.EditUserContribution {
  .edit-wish-list-item-contribution-spinner {
    margin-left: .5em;
  }
  #delete-wish-list-contribution-button {
    margin-left: .5em;

    #delete-wish-list-contribution-icon {
      color: red;
    }
  }
}