.FamilyEvent {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  height: 100vh;

  #content {
    height: 100vh;

    #photos {
      background-color: aqua;
      height: 100%;
    }

    #messages {
      //background-color: blueviolet;
    }

    #playlist {
      //background-color: brown;
    }
  }
}
